*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    background-image: url(./public/background.png) ;
    background-repeat: no-repeat;
   background-size: cover;
}

.icons-Nav{
    width: 55px;
    height: 45px;
    color: aliceblue;
}

